
/* סרגל צדדי בצבע כהה */
.sidebar {
    background-color: #222; /* צבע כהה */
    color: white;
    height: 100vh;
    padding: 15px;
    position: fixed;
    right: 0; /* ממוקם בצד ימין */
    width: 250px;
}

/* עיצוב רשימת הקישורים */
.nav-link {
    color: white !important;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
    background-color: transparent !important;
}

    /* אפקט Hover */
    .nav-link:hover {
        color: #ffa500 !important;
    }

    /* במצב active רק הטקסט ישתנה */
    .nav-link.active {
        color: #ffa500 !important;
    }

/* רווח בין הפריטים */
.nav-item.mb-2 {
    margin-bottom: 10px;
}


