<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
    <div class="main">
        <div class="main_tag">
            <h2>WELCOME TO<br /><span>BOOKNET STOORE</span></h2>
            <p>
                You've come to the right place if you're looking for new, exciting, and inspiring books.
                In our store, you'll find a wide variety of books in every genre – thrillers, romance, children's books, non-fiction, and more.

                How Can We Help You Today?
                <link href="~/css/site.css" rel="stylesheet" />
                Log in to your account
                If you already have an account, simply log in and start purchasing books right away.

                Want to join us?
                If you don't have an account yet, register now and enjoy exclusive discounts and offers.

                Browse by categories
                Choose the types of books you love, and let us recommend the newest and hottest books for you
            </p>
            <a href="#" class="main_btn">Learn More</a>
        </div>
        <div class="main_img">
            <img src="~/Images/Home/table.png" alt="" />
        </div>
    </div>
</body>


